$small-width: 480px;
$medium-width: 768px;
$large-width: 1024px;

/* Mixins */
@mixin screen-small {
  @media (max-width: #{$medium-width - 1px}) {
    @content;
  }
}

@mixin screen-medium {
  @media (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin screen-large {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

@mixin screen-medium-and-smaller {
  @media (max-width: #{$medium-width - 1px}) {
    @content;
  }
}

